{% extends 'base.html' %}

{% block content %}

<main>
<h1>Welcome to my Blog!</h1>
<h3>What is it about?</h3>
<p>
This is a personal investment blog dedicated to exploring the world of finance through a unique and analytical lens. 
Here, you'll find insights into a range of investment topics, including discretionary market views, quantitative investment approaches, 
algorithmic trading, and portfolio construction techniques. 
</p>
<h3>Another one? There are dozens out there..</h3>
<p>Maybe, but mine was missing. By blogging here I plan to break out of my day-to-day finance job and take a different perspective.
My intention is to maintain a collection of thoughts about the markets and ultimately become a better investor by reflecting prior views and challenging my assumptions.
I'll be sharing my own experiences and perspectives on the world of finance, and whether you're a seasoned investor or just starting your journey, 
I invite you to join me on this exciting exploration of the markets and beyond.</p><br>

<h5>Disclaimer</h5>
<small>This blog is in no way affiliated with any of the companies, products or financial assets mentioned on this blog. 
The views on this blog are solely my own and do not reflect the opinion of my current employer.
Moreover, I am no financial advisor and I encourage you to do your own research before making an investment decision.</small>


</main>

{% endblock %}